<div class="container">
  <h1>Match <%= @match.match_id %></h1>

  <p class="time">Start time <%= @match.start_date.strftime("%d/%m/%Y %T") %></p>
  <p class="time">End time <%= @match.end_date.strftime("%d/%m/%Y %T") %></p>
  <h2>Ranking</h2>

  <table class="table">
    <thead>
      <tr>
        <th id="name" scope="col">Name</th>
        <th id="frags" scope="col">Frags</th>
        <th id="deaths" scope="col">Deaths</th>
        <th id="favorite-gun" scope="col">Favorite Gun</th>
        <th id="awards" scope="col">Awards</th>
        <th id="five-kills" scope="col">Five kills in one minute</th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player[:name] %></td>
          <td><%= player[:frags] %> </td>
          <td><%= player[:deaths] %></td>
          <td><%= player[:favorite_gun] %></td>

          <% if player[:award].present? %>
            <td><span class="badge badge-success">Award</span></td>
          <% else %>
            <td>-</td>
          <% end %>

          <% if player[:award_five_kills].present? %>
            <td><span class="badge badge-dark">Great award</span></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Back", matches_path, class: "back" %>
</div>