<p id="notice"><%= notice %></p>

<p>
  <strong>Player1:</strong>
  <%= @log.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @log.player2 %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @log.weapon %>
</p>

<p>
  <strong>Match:</strong>
  <%= @log.match_id %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
